body{
    background-color: #e5ecfa; /*Casi blanco*/
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #14306B;
    text-align: center;
}

h2, h3{
    color: #2A166F;
}
h2, h4{
    text-align: center;
}
p, h3, h2, h4{
    font-family: sans-serif;
}
p{
    color: #060f22; /*Casi negro*/
}
h4, a{
    color: #14306B;
}
a{
    text-decoration: none; /*Le saco el estilo que tienen por defecto los enlaces*/
}
ol{
    font-family: Arial, Helvetica, sans-serif;
    color: #543E9D; /*Casi negro*/
}
.parrafoPrimario{
    color: #14306B;
}
.parrafoSecundario{
    color: #09625E;
}